<template>
    <md-card style="flex-grow: 1; flex-basis: 0;">
        <md-card-header>
            <md-card-header-text>
                <div class="md-title">Moduly</div>
                <div class="md-subhead">Zoznam modulov, ktoré sú dostupné v tomto kurze</div>
            </md-card-header-text>
            <!--<md-menu md-size="4" md-direction="bottom left">-->
                <!--<md-button class="md-icon-button" md-menu-trigger>-->
                    <!--<md-icon>more_vert</md-icon>-->
                <!--</md-button>-->

                <!--&lt;!&ndash; Create new module &ndash;&gt;-->

                <!--<md-menu-content>-->
                    <!--<md-menu-item href="#">-->
                        <!--<md-icon>add</md-icon>-->
                        <!--<span @click.prevent="createNewCourse()">Vytvoriť nový modul</span>-->
                    <!--</md-menu-item>-->
                <!--</md-menu-content>-->

            <!--</md-menu>-->
        </md-card-header>

        <md-card-content>

            <md-table md-sort="calories">
                <md-table-header>
                    <md-table-row>
                        <md-table-head md-sort-by="dessert">Názov modulu</md-table-head>
                        <md-table-head md-sort-by="calories" md-numeric md-tooltip="Počet lekcií v kurze">Počet lekcií</md-table-head>
                        <md-table-head md-numeric md-tooltip="Akcie">Akcie</md-table-head>
                    </md-table-row>
                </md-table-header>

                <md-table-body>
                    <md-table-row v-if="activeCourse !== undefined" v-for="module in modules">
                        <md-table-cell><router-link :to="getModuleLink(module)"> {{ module.name }} </router-link></md-table-cell>
                        <md-table-cell md-numeric>{{ getLessonCountInModule(module)}}</md-table-cell>
                        <md-table-cell v-if="applicationMode === 'lector'">
                            <md-menu md-size="4" md-direction="bottom left">

                                <md-button class="md-icon-button" md-menu-trigger>
                                    <md-icon>more_vert</md-icon>
                                </md-button>

                                <md-menu-content>

                                    <!-- Edit -->

                                    <md-menu-item :href="'portal#'+getEditLink(module)">
                                        <md-icon>edit</md-icon>
                                        <span>Editovať</span>
                                    </md-menu-item>

                                    <!-- Delete -->

                                    <md-menu-item :href="'portal#'">
                                        <md-icon>delete</md-icon>
                                        <span>Zmazať</span>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </md-table-cell>
                    </md-table-row>
                </md-table-body>
            </md-table>

        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>

import { mapState, mapGetters } from 'vuex';

export default {
    created: function () {
        // this.fetchData();
    },
    // watch: {
    //     // call again the method if the route changes
    //     '$route': 'fetchData'
    // },
    methods: {

        fetchData() {
            // this.$store.dispatch('loadModules');
        },

        getModuleLink(module) {
            // TODO Remove this.$store.state, we use mapState ..
            return this.getUrlPrefix + '/' + this.$store.state.activeSubject.identifier +
            '/' + this.$store.state.activeCourse.identifier + 
            '/' + module.identifier;
        },

        getLessonCountInModule(module) {
            return module.lessons.length;
        },

        getEditLink(module) {
            return this.getUrlPrefix + '/' + this.activeSubject.identifier + '/' + this.activeCourse.identifier + '/' + module.identifier + '/edit';
        }
    },
    computed: {
        ...mapState([
            'applicationMode',
            'activeSubject',
            'activeCourse',
            'modules'
        ]),
        ...mapGetters([
            'getUrlPrefix'
        ])
    }
}

</script>
