<template>
    <div style="width: 100%">
        <div class="row">
            <div class="col-lg-5">
                <CourseOverviewInfo></CourseOverviewInfo>
                <ModulesList></ModulesList>
            </div>
            <div class="col-lg-7">
                <ModuleEdit></ModuleEdit>
            </div>
        </div>
    </div>
</template>
<script>

    import CourseOverviewInfo from '../Course/CourseOverviewInfo.vue';
    import ModulesList from './ModulesList.vue';
    import ModuleEdit from '../Module/ModuleEdit.vue';

    export default {

        components: {
            CourseOverviewInfo,
            ModulesList,
            ModuleEdit
        }

    }

</script>
