<template>
    <md-card style="flex-grow: 1; flex-basis: 0;">

        <md-card-header>
            <md-card-header-text>
                <div class="md-title">Editácia modulu</div>
            </md-card-header-text>
            <md-menu md-size="4" md-direction="bottom left">
                <md-button class="md-icon-button" md-menu-trigger>
                    <md-icon>more_vert</md-icon>
                </md-button>

                <md-menu-content>
                    <md-menu-item href="#">
                        <md-icon>save</md-icon>
                        <a href="#" @click.prevent="save()">Uložiť</a>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
        </md-card-header>

        <md-card-content>

            <form novalidate @submit.stop.prevent="submit">

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Názov modulu</md-tooltip>
                    </md-icon>
                    <label>Názov kurzu</label>
                    <md-input type="text" v-model="activeModule.name"></md-input>
                </md-input-container>

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Identifikátor</md-tooltip>
                    </md-icon>
                    <label>Identifikátor</label>
                    <md-input type="text" v-model="activeModule.identifier"></md-input>
                </md-input-container>

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Cena</md-tooltip>
                    </md-icon>
                    <label>Cena</label>
                    <md-input type="text" v-model="activeModule.price"></md-input>
                </md-input-container>                

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Informácie o module</md-tooltip>
                    </md-icon>
                    <label>Info o kurze</label>
                    <md-textarea maxlength="3000" v-model="activeModule.description"></md-textarea>
                </md-input-container>

            </form>

            <md-snackbar md-position="top center" ref="snackbar" md-duration="4000">
                <span>The course has been successfully saved.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Zavrieť</md-button>
            </md-snackbar>

        </md-card-content>
    </md-card>

</template>
<style>
</style>
<script>

import { mapState } from 'vuex';
import dbService from '../../services/db.service.js'; 

export default {

    methods: {
        save() {
            if (this.isNewCourseForm) {
                // New form
                dbService.saveCourse(this.activeModule, true);
            } else {
                // Update form
                dbService.saveCourse(this.activeModule, false);
            }
            this.displayMessage();
        },
        displayMessage() {
            this.$refs.snackbar.open();
        }
    },
    
    computed: {
        ...mapState([
            'activeModule',
            'isNewCourseForm'
        ])
    }
}
</script>
