<template>
    <div class="app-container">

        <!--Navigation-->
        <div class="navigation">
            <router-view name="navigation"></router-view>
        </div>

        <!--Content wrapper-->
        <div class="content-wrapper">

            <!--Header-->
            <router-view name="header"></router-view>

            <!--Breadcrumbs-->
            <router-view name="breadcrumbs"></router-view>

            <!--Content-->
            <div class="content">

                <!--Left content-->
                <div class="left-column">
                    <router-view name="lessons_list"></router-view>
                </div>

                <!--Right content-->
                <div class="right-column">

                    <!--Zakladne info o lekcii-->
                    <router-view name="lesson_overview_info"></router-view>

                    <!--Video sekcia-->
                    <router-view name="lesson_overview_video"></router-view>

                    <div class="lesson-info">

                        <!--Info ku lekcii-->
                        <router-view name="lesson_overview_table_info"></router-view>

                    </div>

                </div>

            </div>
        </div>
    </div>
</template>
<style>
</style>
<script>
</script>
