<template>
    <div class="app-container">

        <!--Navigation-->
        <div class="navigation">
            <router-view name="navigation"></router-view>
        </div>

        <!--Content wrapper-->
        <div class="content-wrapper">

            <!--Header-->
            <router-view name="header"></router-view>

            <!--Action panel-->
            <router-view name="action_panel"></router-view>

            <!--Content-->
            <div class="content">
                <router-view name="content"></router-view>
            </div>
            
        </div>
    </div>
</template>
<style>
</style>
<script>

    import {mapState} from 'vuex';
    import _ from 'lodash';

    export default {

        name: 'course',

        created: function () {
            this.init();
        },

        methods: {

            // Loads data for the courses layout ..
            init() {

                this.setApplicationMode();

                if (!this.isDataLoaded) {
                    this.loadData().then(() => {
                        this.$store.dispatch('setActiveSubject', this.$route.params.subject);
                        this.$store.dispatch('setActiveCourse', this.$route.params.course);
                        this.$store.dispatch('setActiveLesson', this.$route.params.lesson);
                        this.$store.dispatch('setActiveSection', this.$route.params.section);
                    });
                }

            },

            loadData() {
                let result = this.$store.dispatch('loadData', this.$route.params);
                this.$store.dispatch('setIsDataLoaded', true);
                return result;
            },

            setActiveModule() {
                let module = _.first(_.filter(this.$store.state.modules, (module) => {
                    return module.identifier == this.$route.params.module;
                }));

                // Course defaults ..
                if (module === undefined) {
                    module = {
                        name: '',
                        description: '',
                        identifier: ''
                    }
                }

                this.$store.dispatch('setActiveModule', module);
            },

            setApplicationMode() {
                let mode = '';
                // TODO Move 'lektor' into config ..
                if (this.$route.path.indexOf('lektor') != -1) {
                    mode = 'lector';
                } else {
                    mode = 'portal';
                }
                this.$store.dispatch('setApplicationMode', mode);
            }

        },

        watch: {
            '$route' (to, from) {
                this.init();
            }
        },

        computed: mapState([
            'activeCourse',  // TODO Treba?
            'isDataLoaded'
        ])
    }


</script>
