<template>
    <div class="app-container">

        <!--Navigation-->
        <div class="navigation">
            <router-view name="navigation"></router-view>
        </div>

        <!--Content wrapper-->
        <div class="content-wrapper">

            <!--Header-->
            <router-view name="header"></router-view>

            <!--Breadcrumbs-->
            <router-view name="action_panel"></router-view>

            <div class="row">

                <div class="col-lg-5">

                    <div class="content">
                        <transition name="fade">
                            <router-view name="left_pane"></router-view>
                        </transition>
                    </div>

                </div>

                <div class="col-lg-7">
                    
                    <div class="content">
                        <router-view name="right_pane"></router-view>
                    </div>
                    
                </div>

            </div>

        </div>
    </div>
</template>
<style>
</style>
<script>

    import {mapState} from 'vuex';
    import _ from 'lodash';

    export default {

        name: 'course',

        created: function () {
            // TODO Nacitava sa pri kazdom reloade stranky .. Toto nexcem ..
            this.init();
        },

        methods: {

            // Loads data for the courses layout ..
            init() {

                this.setApplicationMode();
                this.loadData().then(() => {
                    this.setActiveSubject();
                    this.setActiveCourse();
                    this.setActiveModule();
                    this.setActiveLesson();

                });

            },

            loadData() {
                return this.$store.dispatch('loadData', this.$route.params);
            },

            // TODO Move into action ..
            setActiveSubject() {
//                let code = '';
//                let subjectFromUrl = this.$route.params.subject;
//
//                if (subjectFromUrl === 'matematika') { // TODO Hardcoded ?
//                    code = 'MATH';
//                }
//
//                let subject = _.filter(this.$store.state.subjects, (subject) => {
//                    return subject.code === code;
//                })
//
//                this.$store.dispatch('setActiveSubject', subject[0]);

                console.log(this.$store.state.subjects);

                let subject = _.first(_.filter(this.$store.state.subjects, (subject) => {
                    return subject.identifier == this.$route.params.subject;
                }));

                this.$store.dispatch('setActiveSubject', subject);

            },

            setActiveCourse() {

                let course = _.first(_.filter(this.$store.state.courses, (course) => {
                    return course.identifier == this.$route.params.course;
                }));

                this.$store.dispatch('setActiveCourse', course);
            },

            setActiveModule() {
                let module = _.first(_.filter(this.$store.state.modules, (module) => {
                    return module.identifier == this.$route.params.module;
                }));

                // Course defaults ..
                if (module === undefined) {
                    module = {
                        name: '',
                        description: '',
                        identifier: ''
                    }
                }

                this.$store.dispatch('setActiveModule', module);
            },

            setActiveLesson() {
                let lesson = _.first(_.filter(this.$store.state.lessons, (lesson) => {
                    return lesson.identifier == this.$route.params.lesson;
                }));

                // Lesson defaults
                if (lesson === undefined) {
                    lesson = {
                        name: '',
                        description: '',
                        identifier: ''
                    }
                }

                this.$store.dispatch('setActiveLesson', lesson);
            },

            setApplicationMode() {
                let mode = '';
                // TODO Move 'lektor' into config ..
                if (this.$route.path.indexOf('lektor') != -1) {
                    mode = 'lector';
                } else {
                    mode = 'portal';
                }
                this.$store.dispatch('setApplicationMode', mode);
            }

        },

        watch: {
            '$route' (to, from) {
                this.init();
            }
        },

        computed: mapState([
            'activeCourse'  // TODO Treba?
        ])
    }


</script>
