<template>
    <div style="width: 100%">
        <div class="row">

            <div class="col-lg-12">
                <md-tabs class="md-transparent">
                    <md-tab id="kurzy" md-label="Editácia lekcie">
                        <LessonEdit></LessonEdit>
                    </md-tab>

                    <md-tab id="lekcie" md-label="Obsah učiva">
                        <SectionList :rightPane="rightPane" :params="params"></SectionList>
                    </md-tab>
                </md-tabs>
            </div>

        </div>

        <md-speed-dial md-mode="scale" style="position: fixed; z-index:100000; bottom: 20px; right: 20px;">
            <md-button class="md-fab" md-fab-trigger>
                <md-icon md-icon-morph>close</md-icon>
                <md-icon>add</md-icon>
            </md-button>

            <md-button class="md-fab md-mini md-clean">
                <md-icon>format_align_left</md-icon>
            </md-button>

            <md-button class="md-fab md-mini md-clean" @click="createVideoSection()">
                <md-icon>videocam</md-icon>
            </md-button>

            <md-button class="md-fab md-mini md-clean">
                <md-icon>volume_up</md-icon>
            </md-button>

            <md-button class="md-fab md-mini md-clean">
                <md-icon>attachment</md-icon>
            </md-button>
        </md-speed-dial>

    </div>
</template>

<script>

    import { mapState } from 'vuex';
    import LessonEdit from './LessonEdit.vue';
    import SectionList from '../Section/SectionList.vue';
    import { SectionVideo, SectionAudio, SectionContent, SectionQuestionGroup } from '../../model/Section.js';

    export default {

        data() {
            return {
                rightPane: null,
                params: null
            }
        },

        methods: {

            // TODO Metoda getComponentToRender cita z global store co ma vyrendrovat. Bude lepsie, ked jej to
            // predam cez parameter funkcie .. Celkovo by som sa mal vyhybat global store ..

            getComponentToRender() {

                if (this.activeSection && this.activeSection.morph_type === 'App\\SectionVideo') {
                    return {
                        'name': SectionVideo.name(),
                        'params': null
                    }
                }

                if (this.activeSection && this.activeSection.morph_type === 'App\\SectionAudio') {
                    return {
                        'name': SectionAudio.name(),
                        'params': null
                    }
                }

                if (this.activeSection && this.activeSection.morph_type === 'App\\SectionContent') {
                    return {
                        'name': SectionContent.name(),
                        'params': null
                    }
                }

                if (this.activeSection && this.activeSection.morph_type === 'App\\SectionQuestionGroup') {
                    return {
                        'name': SectionQuestionGroup.name(),
                        'params': {
                            'key1': 'value1',
                            'key2': 'value2'
                        },
                    }

                }

                return 'UnknownComponentToRender';

            },

            createVideoSection() {
                this.$router.push(
                        { name: 'create-video-section', params: { section: SectionVideo.createUrl() } }
                );
            }

        },

        watch: {
            '$route' (to, from) {

                // TODO Upratat tento kod, vytvorit funkcie, vytvorit funkcie pre vytvaranie prazdnych objektov
                // TODO Vytvorit konstanty do modelu a nepisat stringy kade-tade do kodu ..
                if (this.$route.params.section === SectionVideo.createUrl()) {
                    this.$store.dispatch('setActiveSection', SectionVideo.createUrl());
                    this.rightPane = SectionVideo.name();
                } else {
                    // Load the form with section info in the right panel
                    this.$store.dispatch('setActiveSection', to.params.section);
                    this.rightPane = this.getComponentToRender().name;
                }
            }
        },

        components: {
            LessonEdit,
            SectionList
        },

        computed: {
            ...mapState([
                'sections',
                'activeSection'
            ])
        }

    }

</script>
