<template>
    <md-card>

        <md-card-content>

            <md-tabs md-transparent>
                <md-tab md-active md-label="Info o lekcii" md-icon="ondemand_video">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas amet cum vitae, omnis! Illum quas voluptatem, expedita iste, dicta ipsum ea veniam dolore in, quod saepe reiciendis nihil.</p>
                </md-tab>

                <md-tab md-label="Prílohy" md-icon="books">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
                </md-tab>

                <md-tab md-label="Diskusia" md-icon="photo">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolorum quas.</p>
                </md-tab>

                <md-tab md-label="Autor" md-icon="music_note">

                </md-tab>
            </md-tabs>

        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>
</script>
