<template>
    <div>
        <div v-if="!activeModule">Loading ...</div>
    <md-card v-if="activeModule" style="flex-grow: 1; flex-basis: 0;">
        <md-card-header>
            <md-card-header-text>
                <div class="md-title">Lekcie </div>
                <div class="md-subhead">Zoznam lekcií, ktoré sú dostupné v tomto kurze</div>
            </md-card-header-text>
            <md-menu md-size="4" md-direction="bottom left">
                <md-button class="md-icon-button" md-menu-trigger>
                    <md-icon>more_vert</md-icon>
                </md-button>

                <md-menu-content>
                    <md-menu-item>
                        <md-icon>phone</md-icon>
                        <span>Vytvoriť novú lekciu</span>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </md-card-header>

        <md-card-content>

            <md-table md-sort="calories">
                <md-table-header>
                    <md-table-row>
                        <md-table-head md-sort-by="dessert">Názov lekcie</md-table-head>
                        <md-table-head>Dĺžka lekcie (min)</md-table-head>
                        <md-table-head md-tooltip="Akcie">Akcie</md-table-head>
                    </md-table-row>
                </md-table-header>

                <md-table-body>
                    <md-table-row v-for="lesson in lessons">

                        <md-table-cell><router-link v-if="lesson !== undefined" :to="getLessonLink(lesson)">{{ lesson.name }}</router-link></md-table-cell>

                        <md-table-cell>5</md-table-cell>

                        <md-table-cell v-if="applicationMode === 'lector'">
                            <md-menu md-size="4" md-direction="bottom left">

                                <md-button class="md-icon-button" md-menu-trigger>
                                    <md-icon>more_vert</md-icon>
                                </md-button>

                                <md-menu-content>

                                    <!-- Edit -->

                                    <md-menu-item :href="'portal#'+getEditLink(lesson)">
                                        <md-icon>edit</md-icon>
                                        <span>Editovať</span>
                                    </md-menu-item>

                                    <!-- Delete -->

                                    <md-menu-item :href="'portal#'">
                                        <md-icon>delete</md-icon>
                                        <span>Zmazať</span>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </md-table-cell>

                    </md-table-row>
                </md-table-body>
            </md-table>

        </md-card-content>
    </md-card>
    </div>
</template>
<style>
</style>
<script>

import { mapState, mapGetters } from 'vuex';
import config from '../../app.config.js';
import _ from 'lodash';

export default {
    methods: {

        loadLessons() {
            return this.$store.dispatch('loadLessons');
        },

        getLessonLink(lesson) {

            let url = this.getUrlPrefix
                    + '/' + this.activeSubject.identifier
                    + '/' + this.activeCourse.identifier
                    + '/' + this.activeModule.identifier
                    + '/' + lesson.identifier;

            return url;
        },

        getEditLink(lesson) {
            return this.getLessonLink(lesson);
        }

    },

    watch: {
        'activeModule' (to, from) {
            this.loadLessons();
        }
    },

    computed: {
        ...mapState([
            'lessons',
            'activeSubject',
            'activeCourse',
            'activeModule',
            'applicationMode'
        ]),
        ...mapGetters([
            'getUrlPrefix'
        ])
    }
}

</script>
