<template>
    <md-card style="min-height: 250px; flex-grow: 1; flex-basis: 0;">
        <md-card-header>
            <div class="md-title">Hlavné info o lekcii</div>
            <div class="md-subhead">Subtitle here</div>
        </md-card-header>

        <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid amet consectetur culpa debitis dicta dignissimos dolore dolorem eius eos et, eum fugiat impedit ipsum molestias nam neque non quasi quo recusandae reiciendis saepe similique sint soluta temporibus vel veniam voluptatem voluptatum! A atque blanditiis corporis deserunt dicta dolore dolores eligendi enim, laudantium libero minima minus nemo non nulla porro possimus quas quidem totam? Eos, magnam tenetur. Deserunt id, nam? Alias atque blanditiis delectus dicta, eveniet laborum minima odio quae quod soluta tenetur voluptate! Cum ea earum illo mollitia quae quis repudiandae soluta vel. Culpa cumque dicta distinctio nulla tempora veniam.
        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>
</script>
