<template>
    <md-card>
        <md-card-header>
            <div class="md-title">Stručný prehľad lekcie</div>
            <div class="md-subhead">Subtitle here</div>
        </md-card-header>

        <md-card-content>

            <div id="video-wrapper">
                <video id="avideo">
                    <source id="low" src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="" />
                    <source id="high" src="http://clips.vorwaerts-gmbh.de/VfE_html5.mp4" type="" />
                </video>

                <div class="preview-controls" id="controls">

                    <!-- Seek Video Time Control  -->
                    <div class="time-bar">
                        <input id="time-seek" class="time-meter" type="range" min="0" max="100" value="0">
                    </div>

                    <div class="control-bar">

                        <!-- play / pause button -->
                        <div id="play/pause" class="preview-controls-main control">
                            <i class="material-icons vid-icon">play_circle_outline</i>
                        </div>


                        <!-- repeat button -->
                        <div id="replay" class="preview-controls-main control">
                            <i class="material-icons vid-icon">replay</i>
                        </div>


                        <!-- Current Time Display  -->
                        <div id="current-time" class="preview-controls-main time">
                            0:00
                        </div>


                        <span class="preview-controls-main separator"> / </span>


                        <!--display duration-->
                        <div id="duration-time" class="preview-controls-main time duration-time">
                            0:00
                        </div>

                        <div class="right-side-controls">

                            <!-- mute-unmute Control -->
                            <div class="volume-btn preview-controls-main control" id="mute/unmute">
                                <i class="material-icons vid-icon">volume_up</i>
                            </div>

                            <!--change volume-->
                            <div id="volume-bar-holder" class="control">
                                <input id="volume-bar" type="range" value="0.5" min="0" max="1" step="0.1">
                            </div>

                            <!-- Full Screen Control -->
                            <div id="full-screen" class="preview-controls-main control">
                                <i class="material-icons vid-icon">fullscreen</i>
                            </div>


                        </div><!--end of right side controls div-->


                    </div><!--end of control bar div-->


                </div><!--end of preview controls div-->


            </div><!--end of video wrapper-->

        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>
</script>
