<template>
    <md-card style="flex-grow: 1; flex-basis: 0;">

        <md-card-header>

            <md-card-header-text>
                <div class="md-title">Editácia lekcie</div>
            </md-card-header-text>

            <!-- Save the lesson -->
            <md-button class="md-raised md-primary" @click.prevent="saveLesson()">Uložiť</md-button>

        </md-card-header>

        <md-card-content>

            <form novalidate @submit.stop.prevent="submit">

                <div class="row">
                    <div class="md-12">

                        <!-- Publish the course -->
                        <md-switch v-model="activeLesson.is_published" name="is_published" class="md-primary ml-20">Publikovať</md-switch>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <!-- Lesson name -->

                        <md-input-container>
                            <md-icon>
                                mode_edit
                                <md-tooltip>Názov lekcie</md-tooltip>
                            </md-icon>
                            <label>Názov lekcie</label>
                            <md-input type="text" v-model="activeLesson.name"></md-input>
                        </md-input-container>
                    </div>
                    <div class="col-md-6">

                        <!-- Identifier -->

                        <md-input-container>
                            <md-icon>
                                mode_edit
                                <md-tooltip>Identifikátor</md-tooltip>
                            </md-icon>
                            <label>Identifikátor</label>
                            <md-input type="text" v-model="activeLesson.identifier"></md-input>
                        </md-input-container>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">

                        <!-- Lesson info -->

                        <md-input-container>
                            <md-icon>
                                mode_edit
                                <md-tooltip>Informácie o lekcii</md-tooltip>
                            </md-icon>
                            <label>Info o lekcii</label>
                            <md-textarea maxlength="3000" v-model="activeLesson.description"></md-textarea>
                        </md-input-container>

                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">

                        <!-- Module -->

                        <md-input-container>
                            <md-icon>
                                mode_edit
                                <md-tooltip>Modul</md-tooltip>
                            </md-icon>
                            <label for="movie">Modul</label>
                            <md-select name="module" id="module" v-model="activeLesson.module_id">
                                <md-option value="1">Názov modulu</md-option>
                            </md-select>
                        </md-input-container>

                        <!-- Image url -->

                        <md-input-container>
                            <md-icon>
                                add_a_photo
                                <md-tooltip>Image URL</md-tooltip>
                            </md-icon>
                            <label>Image URL</label>
                            <md-input readonly type="text" v-model="activeLesson.intro_image_url"></md-input>
                            <md-button class="md-icon-button">
                                <md-icon class="md-icon-delete">more_vert</md-icon>
                            </md-button>
                        </md-input-container>

                        <!-- Image preview -->

                        <img src="http://lorempixel.com/250/180/sports/1/" alt="" class="pb-10">

                    </div>
                </div>

            </form>

            <md-snackbar md-position="top center" ref="saveSnackbar" md-duration="4000">
                <span>The lesson has been successfully saved.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.saveSnackbar.close()">Zavrieť</md-button>
            </md-snackbar>

            <md-snackbar md-position="top center" ref="updateSnackbar" md-duration="4000">
                <span>The lesson has been successfully updated.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.updateSnackbar.close()">Zavrieť</md-button>
            </md-snackbar>

        </md-card-content>
    </md-card>

</template>
<style>
</style>
<script>

import { mapState } from 'vuex';
import dbService from '../../services/db.service.js'; 

export default {

    created: function () {
        this.$store.dispatch('setActiveLesson', this.$route.params.lesson);
    },

    methods: {

        saveLesson() {

            let new_lesson_url_name = 'new-lesson';

            this.validateForm().then((isValid) => {

                if (isValid) {

                    if (this.$route.name === new_lesson_url_name) {

                        // Save the form
                        dbService.saveLesson(this.activeCourse, this.activeLesson, true)
                            .then((result) => {
                                this.displaySaveLessonMessage();
                            });

                    } else {

                        // Update form
                        dbService.saveLesson(this.activeCourse, this.activeLesson, false)
                            .then(() => {
                                this.displayUpdateLessonMessage();
                            });

                    }

                }

            });

        },

        //----------------------------------------------------------
        // Snackbar
        //----------------------------------------------------------

        displaySaveLessonMessage() {
            this.$refs.saveSnackbar.open();
        },

        displayUpdateLessonMessage() {
            this.$refs.updateSnackbar.open();
        },

        //----------------------------------------------------------
        // Validate form
        //----------------------------------------------------------

        validateForm() {
            return this.$validator.validateAll();
        }

    },
    
    computed: {
        ...mapState([
            'activeLesson',
            'isNewCourseForm'
        ])
    }
}
</script>
