<template>
    <md-card style="flex-grow: 1; flex-basis: 0;">
        <md-card-header>
            <md-card-header-text>
                <div class="md-title">Zoznam Lekcií</div>
                <div class="md-subhead">Zoznam lekcií dostupných v kurze</div>
            </md-card-header-text>
            <!--<md-menu md-size="4" md-direction="bottom left">-->
                <!--<md-button class="md-icon-button" md-menu-trigger>-->
                    <!--<md-icon>more_vert</md-icon>-->
                <!--</md-button>-->

                <!--&lt;!&ndash; Create new module &ndash;&gt;-->

                <!--<md-menu-content>-->
                    <!--<md-menu-item href="#">-->
                        <!--<md-icon>add</md-icon>-->
                        <!--<span @click.prevent="createNewCourse()">Vytvoriť nový modul</span>-->
                    <!--</md-menu-item>-->
                <!--</md-menu-content>-->

            <!--</md-menu>-->
        </md-card-header>

        <md-card-content>

            <md-table>

                <md-table-header>
                    <md-table-row>
                        <md-table-head>Názov lekcie</md-table-head>
                        <md-table-head>Dĺžka lekcie</md-table-head>
                        <md-table-head>Akcie</md-table-head>
                    </md-table-row>
                </md-table-header>

                <md-table-body v-for="module in modules">
                    <md-table-row style="border-top: 0px;">
                        <md-table-cell>


                            <!--Dorobit stylovanie tabulky, linky v tabulke ...-->


                            <b>{{ module.name }}</b>
                        </md-table-cell>
                    </md-table-row>
                    <md-table-row v-for="lesson in module.lessons">

                        <md-table-cell><router-link v-if="lesson !== undefined" :to="getLessonLink(lesson)">{{ lesson.name }}</router-link></md-table-cell>

                        <md-table-cell>12 min</md-table-cell>

                        <md-table-cell v-if="applicationMode === 'lector'">
                            <md-menu md-size="4" md-direction="bottom left">

                                <md-button class="md-icon-button" md-menu-trigger>
                                    <md-icon>more_vert</md-icon>
                                </md-button>

                                <md-menu-content>

                                    <!-- Edit -->

                                    <md-menu-item :href="'portal#'">
                                        <md-icon>edit</md-icon>
                                        <span>Editovať</span>
                                    </md-menu-item>

                                    <!-- Delete -->

                                    <md-menu-item :href="'portal#'">
                                        <md-icon>delete</md-icon>
                                        <span>Zmazať</span>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>
                        </md-table-cell>

                    </md-table-row>
                </md-table-body>
            </md-table>

        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>

import { mapState, mapGetters } from 'vuex';
import config from '../../app.config';

export default {
    methods: {

        getLessonLink(lesson) {

            let url = this.getUrlPrefix
                    + '/' + this.activeSubject.identifier
                    + '/' + this.activeCourse.identifier
                    + '/' + lesson.identifier;

            return url;
        },

        getModuleLink(module) {
            // TODO Remove this.$store.state, we use mapState ..
            return this.getUrlPrefix + '/' + this.$store.state.activeSubject.identifier +
            '/' + this.$store.state.activeCourse.identifier + 
            '/' + module.identifier;
        },

        getLessonCountInModule(module) {
            return module.lessons.length;
        },

        getEditLink(module) {
            return this.getUrlPrefix + '/' + this.activeSubject.identifier + '/' + this.activeCourse.identifier + '/' + module.identifier + '/edit';
        }
    },
    computed: {
        ...mapState([
            'applicationMode',
            'activeSubject',
            'activeCourse',
            'modules'
        ]),
        ...mapGetters([
            'getUrlPrefix'
        ])
    }
}

</script>
