.action-panel {
  display: flex;
  margin-top: 64px;
  height: 50px;
  position: fixed;
  width: 100%;
  background-color: #F5F5F5;
  z-index: 10;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #dedede;
  color: grey;
}

.action-panel-inline {
  display: flex;
  height: 50px;
  width: 100%;
  background-color: #F5F5F5;
  z-index: 10;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #dedede;
  color: grey;
  justify-content: flex-end;
}