ul.breadcrumb-nav {
  margin-top: 13px;
  padding: 0px;
  font-size: 1em;
  cursor: pointer;
}

/* Display list items side by side */
ul.breadcrumb-nav li {
  display: inline;
  margin-top: 0px !important;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb-nav li+li:before {
  padding: 8px;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb-nav li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb-nav li a:hover {
  color: #01447e;
  text-decoration: underline;
}

div.action-panel > div > ul > li:nth-child(1) > i {
  font-size: 20px;
}