body {
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  background-color: #F3F3F3;
  min-height: 100vh;
  width: 100%;
}

.navigation {
  position: fixed;
  z-index: 11;
  background-color: white;
  min-height: 100%;
  width: 230px;
}

.content-wrapper {
  width: 100%;
  padding-left: 230px;
}

.content {
  display: flex;
  padding-top: 114px;
  margin: 1em;
}

.header {
  height: 64px;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.layout {
  display: flex;
  flex: 1;
}

.md-card {
  flex: 1;
  flex-basis: 0;
  margin-bottom: 1em;
  background-color: green;
}

.md-card-header {
  padding: 3em !important;
}

.center-column, .left-column, .right-column {
  flex-grow: 1;
  flex-basis: 0;
  padding: 1em;
}

.lesson-info {
  display: flex;
}

.md-table .md-table-cell .md-button .md-icon {
  margin: auto;
}