.main-sidebar.md-sidenav .md-toolbar {
  min-height: 172px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.main-sidebar.md-sidenav .vue-material-logo {
  font-size: 24px;
}

.main-sidebar.md-sidenav .vue-material-logo a {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.main-sidebar.md-sidenav .vue-material-logo img {
  width: 160px;
  margin-bottom: 16px;
}