<template>
    <md-card style="flex-grow: 1; flex-basis: 0;">
        <md-card-header>
            <md-card-header-text>
                <div class="md-title">Kurzy</div>
                <div class="md-subhead">Zoznam kurzov, ktoré sú dostupné v tomto predmete</div>
            </md-card-header-text>
            <md-menu md-size="4" md-direction="bottom left">
                <md-button class="md-icon-button" md-menu-trigger>
                    <md-icon>more_vert</md-icon>
                </md-button>

                <!-- Create new course -->

                <md-menu-content>
                    <md-menu-item href="#">
                        <md-icon>add</md-icon>
                        <span @click.prevent="createNewCourse()">Vytvoriť nový kurz</span>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
        </md-card-header>

        <md-card-content>

            <div>

                <md-list>
                    <HoverListItem  v-for="course in courses" style="background-color: green;"></HoverListItem>
                </md-list>

            </div>

            <md-table>
                <md-table-header>
                    <md-table-row>
                        <md-table-head>Názov kurzu</md-table-head>
                        <md-table-head>Počet modulov</md-table-head>
                        <md-table-head v-if="applicationMode === 'lector'">Akcie</md-table-head>
                    </md-table-row>
                </md-table-header>

                <md-table-body>
                    <md-table-row v-for="course in courses">

                        <!-- Course name -->

                        <md-table-cell>
                            <div class="md-table-cell-custom">
                                <router-link :to="getCourseLink(course)">{{ course.name }}</router-link>
                                <br>
                                <span>Link: </span><span class="subtitle">{{ course.identifier }}</span>
                            </div>
                        </md-table-cell>

                        <!-- Course count -->

                        <md-table-cell md-numeric>{{ getModuleCountForCourse(course) }}</md-table-cell>

                        <md-table-cell v-if="applicationMode === 'lector'">

                            <md-menu md-size="4" md-direction="bottom left">

                                <md-button class="md-icon-button" md-menu-trigger>
                                    <md-icon>more_vert</md-icon>
                                </md-button>

                                <md-menu-content>

                                    <!-- Delete -->

                                    <md-menu-item href="#">
                                        <md-icon>delete</md-icon>
                                        <span @click.prevent="deleteCourse(course)">Zmazať</span>
                                    </md-menu-item>

                                </md-menu-content>
                            </md-menu>

                        </md-table-cell>

                    </md-table-row>
                </md-table-body>
            </md-table>

            <md-snackbar md-position="top center" ref="saveSnackbar" md-duration="3000">
                <span>The course has been successfully saved.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.saveSnackbar.close()">Zavrieť</md-button>
            </md-snackbar>

            <md-snackbar md-position="top center" ref="deleteSnackbar" md-duration="3000">
                <span>The course has been successfully deleted.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.deleteSnackbar.close()">Zavrieť</md-button>
            </md-snackbar>

            <!--<div ref="test"></div>-->

        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script type="text/babel">

    import config from '../../app.config.js';
    import { mapState, mapGetters } from 'vuex'
    import dbService from '../../services/db.service.js';
    import HoverListItem from '../Common/HoverListItem.vue';

    export default {
        components: {
            HoverListItem
        },
        methods: {

            createNewCourse() {
                this.$store.dispatch('isNewCourseForm', true);
                this.$store.dispatch('setActiveCourse');
                this.$router.push('/lektor/'+ this.activeSubject.identifier +'/novy-kurz');
            },

            getModuleCountForCourse(course) {
                return course.modules.length;
            },

            getCourseLink(course) {

                if (this.applicationMode === config.APP_MODE.lector) {
                    return this.getUrlPrefix + '/' + this.activeSubject.identifier + '/' + course.identifier;
                }

                return this.getUrlPrefix + '/' + this.activeSubject.identifier + '/' + course.identifier;
            },

            getEditLink(course) {
                return this.getUrlPrefix + '/' + this.activeSubject.identifier + '/' + course.identifier + '/edit';
            },

            //----------------------------------------------------------
            // Snackbar
            //----------------------------------------------------------

            displaySaveCourseMessage() {
                this.$refs.saveSnackbar.open();
            },

            displayDeleteCourseMessage() {
                this.$refs.deleteSnackbar.open();
            },

            //----------------------------------------------------------
            // Actions
            //----------------------------------------------------------

            deleteCourse(course) {
                dbService.deleteCourse(course)
                        .then((response) => {
                            let course = response.data.data.course;
                            this.$store.dispatch('deleteCourse', course);
                            this.displayDeleteCourseMessage();
                        }).catch((e) => {
                            console.log(e);
                        });
            }

        },
        computed: {
            ...mapState([
                'applicationMode',
                'activeSubject',
                'activeCourse',
                'courses'
            ]),
            ...mapGetters([
                'getUrlPrefix'
            ])
        }
    }

</script>
