<template>
    <md-card v-if="activeCourse !== undefined" style="min-height: 250px; flex-grow: 1; flex-basis: 0;">

        <md-card-media>
            <img src="../../images/card-header.jpg" alt="">
        </md-card-media>

        <md-card-header>
            <div class="md-title">{{ activeCourse.name }}</div>
            <div class="md-subhead">Subtitle here</div>
        </md-card-header>

        <md-card-content>
            {{ activeCourse.description }}
        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>

import {mapState} from 'vuex';

export default {
    computed: 
        mapState([
            'activeCourse'
        ])
}

</script>
