<template>
    <div style="width: 100%">
        <div class="row">
            <div class="col-lg-12">
                <CourseOverviewInfo></CourseOverviewInfo>
                <LessonList></LessonList>
            </div>
        </div>
    </div>
</template>
<script>

    import CourseOverviewInfo from '../Course/CourseOverviewInfo.vue';
    import LessonList from '../Lesson/LessonList.vue';
    import ModulesList from '../Module/ModulesList.vue';

    export default {

        components: {
            CourseOverviewInfo,
            LessonList,
            ModulesList
        }

    }

</script>
