<template>
    <div style="width: 100%">
        <div class="row">

            <div class="col-lg-12">
                <md-tabs class="md-transparent">
                    <md-tab id="kurzy" md-label="Editácia kurzu">
                        <CourseEdit></CourseEdit>
                    </md-tab>

                    <md-tab id="lekcie" md-label="Zoznam lekcií v kurze">
                        <LessonList2></LessonList2>
                    </md-tab>
                </md-tabs>
            </div>

        </div>
    </div>
</template>

<script>

    import LessonList2 from '../Lesson/LessonList2.vue';
    import CourseEdit from './CourseEdit.vue';

    export default {

        components: {
            LessonList2,
            CourseEdit
        }

    }

</script>

<style>
</style>
