<template>
    <div>
        <CourseOverviewInfo></CourseOverviewInfo>
        <Author></Author>
    </div>
</template>
<style>
</style>
<script>

import CourseOverviewInfo from './CourseOverviewInfo.vue';
import Author from '../Common/Author.vue';

export default {
    components: {
        CourseOverviewInfo,
        Author
    }
}

</script>
