<template>
    <transition appear name="fade">

        <md-card style="flex-grow: 1; flex-basis: 0;">

            <md-card-header>

                <md-card-header-text>
                    <div class="md-title">Editácia kurzu</div>
                </md-card-header-text>
                <md-button class="md-raised md-primary" @click.prevent="save()">Uložiť</md-button>

            </md-card-header>

            <md-card-content>

                <form novalidate @submit.stop.prevent="submit">

                    <div class="row">
                        <div class="md-12">

                            <!-- Publish the course -->
                            <md-switch v-model="activeCourse.is_published" name="is_published" class="md-primary ml-20">Publikovať</md-switch>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <!-- Course name -->

                            <md-input-container :class="{'md-input-invalid': errors.has('course_name')}">
                                <md-icon>
                                    bookmark_border
                                    <md-tooltip>Názov kurzu</md-tooltip>
                                </md-icon>
                                <label>Názov kurzu</label>
                                <md-input name="course_name" type="text" v-model="activeCourse.name" v-validate data-vv-rules="required"></md-input>
                                <span class="md-error" v-show="errors.has('course_name')">{{ errors.first('course_name') }}</span>
                            </md-input-container>

                        </div>

                        <div class="col-md-6">

                            <!-- Identifier -->

                            <md-input-container :class="{'md-input-invalid': errors.has('course_identifier')}">
                                <md-icon>
                                    info
                                    <md-tooltip>Identifikátor</md-tooltip>
                                </md-icon>
                                <label>Identifikátor</label>
                                <md-input name="course_identifier" type="text" v-model="activeCourse.identifier" v-validate data-vv-rules="required"></md-input>
                                <span class="md-error" v-show="errors.has('course_identifier')">{{ errors.first('course_identifier') }}</span>
                            </md-input-container>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <!-- Course info -->

                            <md-input-container :class="{'md-input-invalid': errors.has('course_info')}">
                                <md-icon>
                                    local_library
                                    <md-tooltip>Informácie o kurze</md-tooltip>
                                </md-icon>
                                <label>Info o kurze</label>
                                <md-textarea name="course_info" maxlength="3000" v-model="activeCourse.description" v-validate data-vv-rules="required"></md-textarea>
                                <span class="md-error" v-show="errors.has('course_info')">{{ errors.first('course_info') }}</span>
                            </md-input-container>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">

                            <!-- Difficulty -->

                            <md-input-container :class="{'md-input-invalid': errors.has('difficulty')}">
                                <md-icon>
                                    graphic_eq
                                    <md-tooltip>Náročnosť</md-tooltip>
                                </md-icon>
                                <label for="activeCourse.difficulty_id">Náročnosť</label>
                                <md-select name="difficulty" id="activeCourse.difficulty_id" v-model="activeCourse.difficulty_id" v-validate data-vv-rules="required">
                                    <md-subheader>Náročnosť</md-subheader>
                                    <md-option value="1">Začiatočník</md-option>
                                    <md-option value="2">Pokročilý</md-option>
                                    <md-option value="3">Expert</md-option>
                                </md-select>
                                <span class="md-error" v-show="errors.has('difficulty')">{{ errors.first('difficulty') }}</span>
                            </md-input-container>

                            <!-- Duration -->

                            <md-input-container :class="{'md-input-invalid': errors.has('duration')}">
                                <md-icon>
                                    av_timer
                                    <md-tooltip>Dĺžka kurzu</md-tooltip>
                                </md-icon>
                                <label>Dĺžka kurzu</label>
                                <md-input name="duration" type="text" v-model="activeCourse.duration" v-validate data-vv-rules="required"></md-input>
                                <span class="md-error" v-show="errors.has('duration')">{{ errors.first('duration') }}</span>
                            </md-input-container>

                            <!-- Price -->

                            <div class="row">
                                <div class="col-md-8">
                                    <md-input-container>
                                        <md-icon>
                                            euro_symbol
                                            <md-tooltip>Cena</md-tooltip>
                                        </md-icon>
                                        <label>Cena</label>
                                        <md-input name="price" type="text" v-model="activeCourse.price" :disabled="activeCourse.is_free_of_charge"></md-input>
                                    </md-input-container>
                                </div>
                                <div class="col-md-4">
                                    <md-checkbox id="is_free_of_charge" name="is_free_of_charge" v-model="activeCourse.is_free_of_charge" class="md-primary">Kurz je zadarmo</md-checkbox>
                                </div>
                            </div>

                            <!-- Image url -->

                            <md-input-container>
                                <md-icon>
                                    add_a_photo
                                    <md-tooltip>Image URL</md-tooltip>
                                </md-icon>
                                <label>Image URL</label>
                                <md-input readonly type="text" v-model="activeCourse.intro_image_url"></md-input>
                                <md-button class="md-icon-button">
                                    <md-icon class="md-icon-delete">more_vert</md-icon>
                                </md-button>
                            </md-input-container>

                            <!-- Image preview -->

                            <img src="http://lorempixel.com/250/180/sports/1/" alt="" class="pb-10">

                            <!-- Video url -->

                            <md-input-container>
                                <md-icon>
                                    videocam
                                    <md-tooltip>Video URL</md-tooltip>
                                </md-icon>
                                <label>Video URL</label>
                                <md-input readonly type="text" v-model="activeCourse.intro_video_url"></md-input>
                                <md-button class="md-icon-button">
                                    <md-icon class="md-icon-delete">more_vert</md-icon>
                                </md-button>
                            </md-input-container>

                            <!-- Video preview  -->

                            <div class='embed-container'>
                                <iframe src='https://player.vimeo.com/video/110807219?color=c9ff23&byline=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                            </div>

                        </div>

                        <div class="col-md-6">

                        </div>

                    </div>

                </form>

                <md-snackbar md-position="top center" ref="saveSnackbar" md-duration="4000">
                    <span>The course has been successfully saved.</span>
                    <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.saveSnackbar.close()">Zavrieť</md-button>
                </md-snackbar>

            </md-card-content>

        </md-card>

    </transition>
</template>

<!-- Styles -->

<style>
    .embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 80%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 40%; height: 40%; }
    .md-input-container .md-select { margin-left: 12px; }
</style>

<!-- Script -->

<script>

import { mapState } from 'vuex';
import dbService from '../../services/db.service.js'; 

export default {

    created: function () {
        this.$store.dispatch('setActiveCourse', this.$route.params.course);
    },

    methods: {

        save() {

            let isNewForm = false;
            let new_course_url_name = 'new-course';

            this.validateForm().then((isValid) => {

                if (isValid) {

                    // Shall we save, or update ?
                    if (this.$route.name === this.new_course_url_name) {
                        isNewForm = true;
                    }

                    // Save the form
                    dbService.saveCourse(this.activeSubject, this.activeCourse, isNewForm)
                        .then((response) => {
                            console.log(response);
                            if (response.data.result) {
                                this.displaySaveCourseMessage();
                            } else {
                                alert(response.data.data);
                            }
                        });

                }

            });

        },

        //----------------------------------------------------------
        // Messages
        //----------------------------------------------------------

        displaySaveCourseMessage() {
            this.$refs.saveSnackbar.open();
        },

        //----------------------------------------------------------
        // Choose video
        //----------------------------------------------------------

        openVideoDialog() {
            this.$refs.videoDialog.open();
        },

        //----------------------------------------------------------
        // Validate form
        //----------------------------------------------------------

        validateForm() {
            return this.$validator.validateAll();
        }

    },
    
    computed: {
        ...mapState([
            'activeSubject',
            'activeCourse',
            'difficultyOptions',
            'isNewCourseForm'
        ])
    }
}
</script>
