<template>
    <div style="width: 100%">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <SubjectList></SubjectList>
            </div>
        </div>
    </div>
</template>
<script>

    import SubjectList from '../Subject//SubjectList.vue';

    export default {

        components: {
            SubjectList
        }

    }

</script>