<!--Template-->

<template>
    <transition appear name="fade">
        <md-card style="flex-grow: 1; flex-basis: 0;">

            <ActionPanelInline></ActionPanelInline>

            <md-card-header>

                <md-card-header-text>
                    <div class="md-title">Zoznam predmetov </div>
                    <div class="md-subhead">Zoznam predmetov</div>
                </md-card-header-text>

                <md-menu md-size="4" md-direction="bottom left">
                    <md-button class="md-icon-button" md-menu-trigger>
                        <md-icon>more_vert</md-icon>
                    </md-button>

                    <!-- Create new course -->

                    <md-menu-content>
                        <md-menu-item href="#">
                            <md-icon>add</md-icon>
                            <span @click.prevent="createNewCourse()">Vytvoriť nový predmet</span>
                        </md-menu-item>
                    </md-menu-content>

                </md-menu>
            </md-card-header>

            <md-card-content>

                <md-table>
                    <md-table-header>
                        <md-table-row>
                            <md-table-head>Názov kurzu</md-table-head>
                            <md-table-head>Počet modulov</md-table-head>
                            <md-table-head v-if="applicationMode === 'lector'">Akcie</md-table-head>
                        </md-table-row>
                    </md-table-header>

                    <md-table-body>
                        <md-table-row v-for="subject in subjects">

                            <!-- Course name -->

                            <md-table-cell>
                                <div class="md-table-cell-custom">
                                    <router-link :to="getSubjectLink(subject)">{{ subject.name }}</router-link>
                                    <br>
                                    <span>Link: </span><span class="subtitle">{{ subject.identifier }}</span>
                                </div>
                            </md-table-cell>

                            <!-- Course count -->

                            <md-table-cell md-numeric>20</md-table-cell>

                            <md-table-cell v-if="applicationMode === 'lector'">

                                <md-menu md-size="4" md-direction="bottom left">

                                    <md-button class="md-icon-button" md-menu-trigger>
                                        <md-icon>more_vert</md-icon>
                                    </md-button>

                                    <md-menu-content>

                                        <!-- Delete -->

                                        <md-menu-item :href="'portal#'">
                                            <md-icon>delete</md-icon>
                                            <span>Zmazať</span>
                                        </md-menu-item>

                                    </md-menu-content>
                                </md-menu>

                            </md-table-cell>

                        </md-table-row>
                    </md-table-body>
                </md-table>

            </md-card-content>

        </md-card>
    </transition>
</template>

<!--Javascript-->

<script type="text/babel">

    import { mapState, mapGetters } from 'vuex';
    import config from '../../app.config.js';
    import ActionPanelInline from '../Common/ActionPanelInline.vue';

    export default {
        methods: {

            createNewCourse() {

                // TODO: Really save?
                this.$store.dispatch('isNewCourseForm', true);

                this.$store.dispatch('setActiveCourse');

                this.$router.push('/lektor/matematika/novy-kurz');
            },

            getModuleCountForCourse(subject) {
                return subject.modules.length;
            },

            getSubjectLink(subject) {
                return this.getUrlPrefix + '/' + subject.identifier;
            },

            getEditLink(subject) {
                return this.getUrlPrefix + '/' + this.activeSubject.identifier + '/' + subject.identifier + '/edit';
            }

        },
        components: {
            ActionPanelInline
        },
        computed: {
            ...mapState([
                'applicationMode',
                'activeSubject',
                'activeCourse',
                'subjects'
            ]),
            ...mapGetters([
                'getUrlPrefix'
            ])
        }
    }

</script>
