<!--Template-->

<template>

    <div style="width: 100%">
        <div class="row">

            <div class="col-lg-12">
                <md-tabs class="md-transparent">
                    <md-tab id="kurzy" md-label="Predmet">
                        <SubjectEdit></SubjectEdit>
                    </md-tab>

                    <md-tab id="lekcie" md-label="Zoznam kurzov v predmete">
                        <CoursesList></CoursesList>
                    </md-tab>
                </md-tabs>
            </div>

        </div>
    </div>

</template>

<!--Javascript-->

<script>

    import SubjectEdit from './SubjectEdit.vue';
    import CoursesList from '../Course//CoursesList.vue';
    import CourseEdit from '../Course/CourseEdit.vue';

    export default {

        components: {
            SubjectEdit,
            CoursesList,
            CourseEdit
        }

    }

</script>