<template>
    <transition appear name="fade">
        <md-card style="flex-grow: 1; flex-basis: 0;">

        <md-card-header>
            <md-card-header-text>
                <div class="md-title">Editácia predmetu</div>
            </md-card-header-text>
            <md-menu md-size="4" md-direction="bottom left">
                <md-button class="md-icon-button" md-menu-trigger>
                    <md-icon>more_vert</md-icon>
                </md-button>

                <md-menu-content>
                    <md-menu-item href="#">
                        <md-icon>save</md-icon>
                        <a href="#" @click.prevent="save()">Uložiť</a>
                    </md-menu-item>
                </md-menu-content>

            </md-menu>
        </md-card-header>

        <md-card-content>

            <form novalidate @submit.stop.prevent="submit">

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Názov predmetu</md-tooltip>
                    </md-icon>
                    <label>Názov kurzu</label>
                    <md-input type="text" v-model="activeSubject.name"></md-input>
                </md-input-container>

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Identifikátor</md-tooltip>
                    </md-icon>
                    <label>Identifikátor</label>
                    <md-input type="text" v-model="activeSubject.identifier"></md-input>
                </md-input-container>

                <md-input-container>
                    <md-icon>
                    mode_edit
                    <md-tooltip>Informácie o predmete</md-tooltip>
                    </md-icon>
                    <label>Info o kurze</label>
                    <md-textarea maxlength="3000" v-model="activeSubject.description"></md-textarea>
                </md-input-container>

            </form>

            <md-snackbar md-position="top center" ref="snackbar" md-duration="4000">
                <span>The subject has been successfully saved.</span>
                <md-button class="md-accent" md-theme="light-blue" @click.native="$refs.snackbar.close()">Zavrieť</md-button>
            </md-snackbar>

        </md-card-content>
    </md-card>
    </transition>
</template>
<style>
</style>
<script>

import { mapState } from 'vuex';
import dbService from '../../services/db.service.js';


export default {

    created: function () {
        this.$store.dispatch('setActiveSubject', this.$route.params.subject);
    },

    methods: {

        save() {

            if (this.isNewSubjectForm) {
                dbService.save(this.activeSubject, true)
                        .then(() => {
                            this.$store.dispatch('isNewSubjectForm', false);
                            this.displayMessage();
                        })
            } else {
                // Update form
                dbService.save(this.activeSubject, false)
                        .then(() => {
                            this.displayMessage();
                        });
            }
        },

        displayMessage() {
            this.$refs.snackbar.open();
        }

    },
    
    computed: {
        ...mapState([
            'activeSubject',
            'isNewSubjectForm'
        ])
    }
}
</script>
