<template>
    <md-card v-if="activeSubject !== undefined" style="min-height: 250px; flex-grow: 1; flex-basis: 0;">

        <md-card-header>
            <div class="md-title">{{ activeSubject.name }}</div>
            <div class="md-subhead">Subtitle here</div>
        </md-card-header>

        <md-card-content>
            {{ activeSubject.description }}
        </md-card-content>
    </md-card>
</template>
<style>
</style>
<script>

import {mapState} from 'vuex';

export default {
    computed: 
        mapState([
            'activeSubject'
        ])
}

</script>
