<template>
    <div class="action-panel">
        <Breadcrumbs></Breadcrumbs>
    </div>
</template>
<script>

    import Breadcrumbs from './Breadcrumbs.vue';

    export default {
        components: {
            Breadcrumbs
        }
    }

</script>
