<template>
    <div class="action-panel-inline flex_container">
        <div class="flex_end">
            <md-button class="md-icon-button">
                <md-icon>save</md-icon>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon>archive</md-icon>
            </md-button>
            <md-button class="md-icon-button">
                <md-icon>delete</md-icon>
            </md-button>
        </div>
    </div>
</template>
<script>

</script>
