<template>
    <md-card>
        <md-card-header>
            <md-avatar>
                <img src="https://vuematerial.github.io/assets/avatar.png" alt="People">
            </md-avatar>

            <div class="md-title">Lucia Marušiaková</div>
            <div class="md-subhead">Lektor</div>
        </md-card-header>

        <md-card-media>
            <img src="https://vuematerial.github.io/assets/card-image-1.jpg" alt="People">
        </md-card-media>

        <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea nostrum.
        </md-card-content>

        <md-card-actions>
            <md-button>Action</md-button>
            <md-button>Action</md-button>
        </md-card-actions>
    </md-card>
</template>
<style>
</style>
<script>
</script>
