<template>
    <div>
        <ul class="breadcrumb-nav">
            <router-link tag="li" to="/lektor"><md-icon>home</md-icon></router-link>
            <router-link v-for="breadcrumbElement in getBreadcrumbElements" 
                v-if="breadcrumbElement !== undefined || breadcrumbElement !== null" 
                tag="li" 
                :to="breadcrumbElement.url"><b>{{ breadcrumbElement.name }}</b> ({{breadcrumbElement.type}})</router-link>
        </ul>
    </div>
</template>
<script>

import { mapState, mapGetters } from 'vuex';
import config from '../../app.config.js';

export default {
    computed: {
        ...mapState([
            'activeSubject',
            'activeCourse',
            'activeLesson'
        ]),

        getBreadcrumbElements() {

            let state = this.$store.state;

            const breadcrumbsArray = [];
            let prefix = '';

            state.applicationMode === config.APP_MODE.lector ? prefix = config.URL_PREFIX.lector : prefix = config.URL_PREFIX.portal;

            if (state.activeSubject && state.activeSubject.name) {
                breadcrumbsArray.push({
                    name: state.activeSubject.name,
                    type: 'predmet',
                    url: `${prefix}/${state.activeSubject.identifier}`
                });
            }
            if (state.activeCourse && state.activeCourse.name) {
                breadcrumbsArray.push({
                    name: state.activeCourse.name,
                    type: 'kurz',
                    url: `${prefix}/${state.activeSubject.identifier}/${state.activeCourse.identifier}`
                });
            }
            if (state.activeLesson && state.activeLesson.name) {
                breadcrumbsArray.push({
                    name: state.activeLesson.name,
                    type: 'lekcia',
                    url: `${prefix}/${state.activeSubject.identifier}/${state.activeCourse.identifier}/${state.activeLesson.identifier}`
                });
            }
            return breadcrumbsArray;
        }
    }
}

</script>
