<template>
    <md-list-item>
        <md-icon>video_library</md-icon>
        <div class="md-list-text-container">
            <span>Row1</span>
            <span>Row2</span>
        </div>
    </md-list-item>
</template>
<style>
</style>
<script type="text/babel">

    export default {
        components: {

        }
    }

</script>