<template>
    <div>
        <md-list class="custom-list md-triple-line">
            <md-list-item>
                <md-avatar>
                    <img src="https://placeimg.com/40/40/people/1" alt="People">
                </md-avatar>

                <div class="md-list-text-container">
                    <span>Lucia Marušiaková</span>
                    <span>Lektor</span>
                    <p>Info o Lucke, jej motto ;) Len aby bolo</p>
                </div>

                <md-button class="md-icon-button md-list-action">
                    <md-icon class="md-primary">star</md-icon>
                </md-button>

                <md-divider class="md-inset"></md-divider>
            </md-list-item>
        </md-list>
    </div>
    </div>
</template>
<script>
//    import HeaderComponent from './components/header.vue'
//    import OtherComponent from './components/other.vue'
//    export default{
//        data(){
//            return{
//                msg:'hello vue'
//            }
//        },
//        components:{
//            'other-component':OtherComponent,
//            HeaderComponent,
//        }
//    }
</script>
