<template>
    <div class="dc-unit-info dc-course-item">

        <div class="dc-content-title">
            <h5 class="xsm black">{{ course.name }}</h5>
        </div>

        <div class="unit-body dc-item-body">
            <table class="tb-course">
                <tbody>

                    <tr class="tb-unit-title">
                        <td class="label-info">
                            <label for="">Názov kurzu</label>
                        </td>
                        <td class="td-form-item">
                            <div class="form-item">
                                <input v-validate.initial="course.name" data-vv-rules="required" :class="{'error': errors.has('course.name')}" type="text" v-model="course.name">
                                <p v-if="errors.has('course.name')" class="err" >Názov kurzu je povinný</p>
                            </div>
                        </td>
                    </tr>

                    <tr class="tb-desc">
                        <td class="label-info">
                            <label for="">Popis kurzu</label>
                        </td>
                        <td class="td-form-item">
                            <div class="form-textarea-wrapper">
                                <textarea v-validate.initial="course.description"
                                          data-vv-rules="required"
                                          v-model="course.description"
                                          :class="{'error': errors.has('course.description')}">
                                    {{ course.description }}</textarea>
                                <p v-if="errors.has('course.description')" class="err" >Popis kurzu je povinný</p>
                            </div>
                        </td>
                    </tr>

                    <tr class="tb-unit-title">
                        <td class="label-info">
                            <label for="">Identifikátor</label>
                        </td>
                        <td class="td-form-item">
                            <div class="form-item">
                                <input type="text" v-model="course.identifier" v-validate.initial="course.identifier" data-vv-rules="required" :class="{'error': errors.has('course.identifier')}">
                                <p v-if="errors.has('course.identifier')" class="err" >Identifikátor je povinný</p>
                            </div>
                        </td>
                    </tr>

                    <tr class="tb-desc">
                        <td class="label-info">
                            <label for="">Cena</label>
                        </td>
                        <td class="td-form-item">
                            <div class="form-item">
                                <input type="text" v-model="course.price">
                            </div>
                        </td>
                    </tr>

                    <tr class="tb-desc">
                        <td class="label-info">
                            <label for="">Dĺžka kurzu</label>
                        </td>
                        <td class="td-form-item">
                            <div class="form-item">
                                <input type="text" v-model="course.duration">
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>
<style>

    body{
        background-color:#ff0000;
    }

    p.err {
        margin-top: 0.5em;
    }

</style>
<script>

    import axios from 'axios';

    export default{

        //----------------------------------------------------------
        // Data
        //----------------------------------------------------------

        data() {
            return {

            }
        },

        props: ['course'],

        created() {

            var self = this;

            // Process the message from: NavBar
            bus.$on('save-form', function (id) {
                self.saveCourseForm()
            })

        },

        // Initial data load ..
        mounted() {
            // TODO Musim toto robit ???
            axios.defaults.headers.common['X-CSRF-TOKEN'] = document.querySelector('#_token').getAttribute('value')
            axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
        },

        methods: {

            //----------------------------------------------------------
            // Save course info
            //----------------------------------------------------------

            saveCourseForm() {

                let self = this;
                this.validateForm().then(function(isValid) {

                    if (isValid) {
                        self.$validator.validateAll().then(result => {
                            if (result) {
                                if (self.course.isNew) {
                                    self.save(true)
                                } else {
                                    self.save(false)
                                }
                            }
                        });
                    }

                });

            },

            //----------------------------------------------------------
            // Clear form
            //----------------------------------------------------------

            clearForm() {
                this.course.isNew = true,
                this.course.identifier = '',
                this.course.name = '',
                this.course.description = '',
                this.course.price = '',
                this.course.duration = ''
//                this.course.status_id = 1 // TODO Hardcoded
            },

            //----------------------------------------------------------
            // Save or update
            //----------------------------------------------------------

            save(isNew) {

                if (isNew) {
                    axios.post('/api/course',
                        this.course
                    ).then(function(response) {
                        // TODO Callback?
                    }).catch(function(error) {
                        console.log(error);
                    })
                }

                // Update
                axios.put('/api/course/'+ this.course.identifier,
                    this.course
                ).then(function(response) {
                    // TODO Callback
                }).catch(function(error) {
                    console.log(error);
                })

            },

            //----------------------------------------------------------
            // Validate form
            //----------------------------------------------------------

            validateForm() {
                return this.$validator.validateAll();
            }

        }
    }
</script>