<template>
    <div>
        <TabsComponent :course="course" :initialTabs='tabs'></TabsComponent>
    </div>
</template>
<style>
    body{
        background-color:#ff0000;
    }
</style>
<script>

    import TabsComponent from './TabsComponent.vue';
    import axios from 'axios';

    export default{

        data() {
            return {

                // Tabs should be passed using props
                tabs: [
                    {
                        name: "Základné informácie",
                        icon: "fa fa-question-circle",
                        isActive: true,
                        href: "",
                        component: [
                            { name: "CourseInfo" }
                        ]
                    },
                    {
                        // Since the 'name' component is dynamic, I will inject it in the watcher
                        icon: "icon md-book-1",
                        isActive: false,
                        href: "",
                        component: [
                            { name: "ModulesTable" }
                        ]
                    }
                ],

                course: {
                    isNew: true,
                    identifier: '',
                    name: '',
                    description: '',
                    price: 0,
//                    status_id: 1 // TODO Hardcoded
                }
            }
        },


        // Load data after URL is changed, since lifecycle hooks are not trigerred ..
        watch: {
            '$route' (to, from) {
                if (this.$route.params.course === 'novy') { // TODO, ako zistit, ci sa jedna o novy formular? Toto sa mi nepaci ..
                    this.course.isNew = true;
                    this.clearForm();
                    return;
                }

                this.course.isNew = false;
                this.loadCourseInfo(this.$route.params.course);    // TODO Request sa robi pri kazdom prepnuti tabu, treba dat do cache ..
            },
            'course' (to, from) {
                this.tabs[1].name = "Zoznam modulov a lekcií ("+ this.getLessonsCount +")"
                this.tabs[0].href = "#kurzy/"+ this.course.identifier
                this.tabs[1].href = "#kurzy/"+ this.course.identifier +"/lessons"
            }
        },

       computed: {
            getLessonsCount() {
                return this.course.lessons.length;
            }
       },

       mounted() {
            this.loadCourseInfo(this.$route.params.course)
       },

        methods: {

            //----------------------------------------------------------
            // Load course info
            //----------------------------------------------------------

            loadCourseInfo(courseIdentifier) {
                let self4 = this; // TODO How to deal with self? Check let / var here ..
                axios.get('/api/course/'+ courseIdentifier)
                  .then(function (response) {
                    if (response.data.result === false) {
                        console.log('Zobraz dialog s chybou: '+ response.data.msg)
                        return;
                    }

                    console.log(response.data.data)
                    // Zobraz data
                    self4.course = response.data.data;
                    self4.course.isNew = false;

                 })
                  .catch(function (error) {
                    console.log(error);
                 });
            }
        },

        components:{
            TabsComponent
        }

    }
</script>
