<template>

    <div>
        <div class="create-course-sidebar">
            <ul class="list-bar">
                <router-link v-for="(menuItem, index) in menuItems" tag="li" :to="'/kurzy/'+ menuItem.identifier" style="cursor: pointer;">
                    <span class="count">{{ index+1 }}</span>{{ menuItem.name }}
                </router-link>
            </ul>
        </div>
    </div>

</template>

<script>

// TODO Put in the window, so it will be accessible everywhere ...
import axios from 'axios'
import _ from 'underscore'

export default {

    data() {
        return {
            menuItems: []
        }
    },

    mounted() {
        this.getMenuItems();
    },

    created() {

        let self = this;

        // Process the message from: NavBar
        bus.$on('save-form', function() {
            self.getMenuItems()
        })

    },

    methods: {

        getMenuItems() {
            let self2 = this;
            axios.get('/api/course')
                .then(function (response) {
                self2.menuItems = response.data.data;
            })
                .catch(function (error) {
                console.log(error);
            });
        }

    }

}
</script>

<style>
</style>