<template>
    <div class="dc-unit-info dc-course-item">
        <div class="dc-content-title">
            <h5 class="xsm black">Unit 1 : title of unit</h5>
            <div class="course-region-tool">
                <a href="#" class="edit" title="edit"><i class="icon md-pencil"></i></a>
                <a href="#" class="drag" title="drag"><i class="fa fa-arrows"></i></a>
                <a href="#" class="delete" title="delete"><i class="icon md-recycle"></i></a>
                <a href="#" class="save" title="save"><i class="fa fa-save"></i></a>
            </div>
        </div>

        <div class="unit-body dc-item-body">
            <table class="tb-course">
                <tbody>
                <tr class="tb-unit-title">
                    <td class="label-info">
                        <label for="">Title</label>
                    </td>
                    <td class="td-form-item">
                        <div class="form-item">
                            <input type="text" v-model="data.title">
                        </div>
                    </td>
                </tr>

                <tr class="tb-desc">
                    <td class="label-info">
                        <label for="">Description</label>
                    </td>
                    <td class="td-form-item">
                        <div class="form-textarea-wrapper">
                            <textarea>{{ data.description }}</textarea>
                        </div>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</template>
<style>
    body{
        background-color:#ff0000;
    }
</style>
<script>
    export default{
        data(){
            return{
                title: 'Title',
                description: 'Description'
            }
        },

        props: ['data'],

        methods: {

            getLessonModules() {
                let self3 = this;
                axios.get('/api/module?courseId=early-math')
                  .then(function (response) {
                    if (response.data.result) {
                        self3.lessonModules = response.data.data;
                    }
                 })
                  .catch(function (error) {
                    console.log(error);
                 });
            }

        }
    }
</script>
