<template>

    <div>
        <div class="create-course-sidebar">
            <ul class="list-bar">
                <!--<li v-for="menuItem in menuItems"><a :href="menuItem.url"><span class="count">1</span>{{ menuItem.name }}</a></li>-->
                <li v-for="(menuItem, index) in menuItems"><router-link to="/test"><span class="count">{{ index + 1 }}</span>{{ menuItem.name }}</router-link></li>
            </ul>
        </div>
    </div>

</template>

<script>

import axios from 'axios'
import _ from 'underscore'

export default {

  data() {
    return {
      menuItems: []
    }
  },

  mounted() {
    this.getMenuItems();
  },

  methods: {

    getMenuItems() {
        let self2 = this;
        axios.get('/api/lesson')
          .then(function (response) {
            self2.menuItems = response.data.data;
          })
          .catch(function (error) {
            console.log(error);
          });
    }

  }
}
</script>

<style>
</style>