<template>

    <div class="table-assignment">
        <div class="table-wrap">
            <div class="table-body">
                <div v-for="lesson in lessons" class="table-item">
                    <div class="thead">
                        <!--<div class="submissions"><a href="#">{{ lesson.name }}</a></div>-->
                        <div class="submissions"><router-link :to="lesson.alias">{{ lesson.name }}</router-link></div>
                        <div class="total-subm">0/4</div>
                        <div class="replied">0/2</div>
                        <div class="latest-reply">11. Jul , 2014</div>
                        <div class="toggle tb-icon">
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>

import axios from 'axios'
import _ from 'underscore'

export default {

  data() {
    return {
      lessons: []
    }
  },

  mounted() {
    this.getLessons();
  },

  methods: {

    getLessons() {
        let self1 = this;
        axios.get('/api/lesson?courseId=early-math')
          .then(function (response) {
            if (response.data.result) {
                self1.lessons = response.data.data;
            }
          })
          .catch(function (error) {
            console.log(error);
          });
    }

  }
}
</script>

<style>
</style>