<template>

    <div class="table-assignment">
        <div class="table-wrap">
            <div class="table-body">
                <div v-for="lessonModule in course.modules" class="table-item">

                    <div class="thead">
                        <div class="submissions"><router-link :to="lessonModule.name">{{ lessonModule.name }}</router-link></div>
                        <div class="total-subm">0/4</div>
                        <div class="replied">0/2</div>
                        <div class="latest-reply">11. Jul , 2014</div>
                        <div class="toggle tb-icon">
                            <a href="#"><i class="fa fa-angle-down"></i></a>
                        </div>
                    </div>

                    <div v-for="lesson in lessonModule.lessons" class="tbody ps-container ps-active-y" style="display: block;">

                        <!-- ITEM -->
                        <div class="item">
                            <div class="submissions"><router-link :to="'lesson/'+lesson.alias">{{ lesson.name }}</router-link></div>
                            <div class="total-subm">Submited</div>
                            <div class="replied">Replied</div>
                            <div class="latest-reply">11. Jul , 2014</div>
                            <div class="link tb-icon">
                                <a href="#"><i class="fa fa-play-circle-o"></i></a>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</template>

<script>

import axios from 'axios'
import _ from 'underscore'

export default {

    data() {
        return {
            modules: []
        }
    },

    // TODO Musim pouzit watch? Cital som, ze by sa skor mal pouzit computed ..
    watch: {
        'course' (to, from) {
            this.course = to;
        }
    },

    props: ['course'],

  methods: {

    getModules() {

    }

  }

}
</script>

<style>
</style>