<template>
    <section class="page-control">
        <div class="container content-bar">
            <ul>
                <li>
                    <a href="#">
                        Nový kurz
                    </a>
                </li>
                <li>
                    <a href="#" @click.stop="saveCourseForm()">
                        Uložiť
                    </a>
                </li>
            </ul>
        </div>
    </section>
</template>
<style>
</style>
<script>

    export default {

        methods: {

            saveCourseForm() {
                window.bus.$emit('save-form', 1)
            }

        }

    }

</script>
