<template>

    <div class="create-course-section">

        <div class="form-content">

            <!--Tabs-->

            <ul id="myTabs" class="design-course-tabs" role="tablist">
                <li v-for="tab in tabs" :class="{'active': tab.isActive}">
                    <a :href="[ tab.href ]" @click="toggleTab(tab)"><i :class="[ tab.icon ]"></i>{{ tab.name }}</a>
                </li>
            </ul>

            <div class="tab-content">

                <div v-for="(tab, index) in tabs" :id="[ tab.href ]" v-show="tab.isActive" role="tabpanel">

                    <div class="dc-sections">

                        <div class="dc-section-info">

                            <div class="dc-section-body">

                                <div v-for="comp in tab.component" :course="course" :is="comp.name"></div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</template>
<style>
    body{
        background-color:#ff0000;
    }
</style>
<script>

    // TODO specific imports ..
    import CourseInfo from './CourseInfo.vue'
    import CourseMenu from './CourseMenu.vue'
    import ModulesTable from './ModulesTable.vue'
    import axios from 'axios'
    import _ from 'underscore'

    export default {

        data: function () {
            return {
                tabs: this.initialTabs
            }
        },

        methods: {

            //----------------------------------------------------------
            // Toggle tab visibility
            //----------------------------------------------------------

            toggleTab(clickedTab) {

                _.each(this.tabs, function(tab) {
                    if (clickedTab === tab) {
                        tab.isActive = true;
                    } else {
                        tab.isActive = false;
                    }
                })

            }

        },

        // TODO This is specific for course ... not good ..
        props: ['initialTabs', 'course'],

        // Components ..
        components: {
            CourseInfo,
            ModulesTable,
            CourseMenu
        }

    }
</script>
