<template>

    <div>
        <!-- Video dialog -->
        <md-button class="md-raised md-primary" @click="showVideoDialog('vimeo-dialog')">Editovať</md-button>

        <md-dialog ref="vimeo-dialog">
            <md-dialog-title>Dostupné videá pre túto lekciu (Vimeo)</md-dialog-title>
            <md-dialog-content>
                <md-list class="md-double-line">

                    <!--Zobraz videa-->
                    <md-list-item v-for="video in videos">
                        <md-icon class="md-primary">videocam</md-icon>

                        <div class="md-list-text-container">
                            <span>{{ video.name }}</span>
                            <span>{{ video.duration }} min</span>
                        </div>

                        <md-button @click="chooseVideo(video)" class="md-icon-button md-list-action">
                            <md-icon>sms</md-icon>
                        </md-button>
                    </md-list-item>

                    <!--Zobraz v pripade, ze nie je dostupne ziadne video-->
                    <md-list-item v-if="videosAvailable">Nie sú dostupné žiadne videá pre tento album.</md-list-item>

                </md-list>
            </md-dialog-content>
        </md-dialog>
    </div>

</template>
<style>
</style>
<script>

    import Vue from 'vue';
    import _ from 'lodash';
    import dbService from '../../services/db.service.js';

    export default{

        name: 'ChooseVideoDialog',

        created() {
            this.init();
        },

        mounted() {
            console.log('Dialog mounted');
        },

        data() {
            return{
                videos: [],
            }
        },

        computed: {

            videosAvailable() {
                return _.isEmpty(this.videos);
            }

        },

        methods: {

            async init() {
                let videos = [];
                // TODO Hardcoded album URL ..
                let album = await dbService.getAlbum('early-math__origins-of-algebra');
                if (album !== undefined) {
                    videos.push(await dbService.getVideosInAlbum(album.identifier));
                    Vue.set(this, 'videos', videos);
                }
            },

            showVideoDialog(ref) {
                this.$refs[ref].open();
            },

            chooseVideo(video) {
                alert(video.name);
            }

        }

    }

</script>
