//.flex_container {
//  display:flex;
//}

.flex_item {
  
}

.flex_column {
  flex-direction: column;
}

.flex_center {
  justify-content: center;
  align-items: center;
}

.flex_end {
  justify-content: flex-end;
  align-items: flex-end;
}