/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*========================================
=            Margin & padding            =
========================================*/
.mb-5 {
  margin-bottom: 5px; }

.mb-10 {
  margin-bottom: 10px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-25 {
  margin-bottom: 25px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-35 {
  margin-bottom: 35px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-45 {
  margin-bottom: 45px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-55 {
  margin-bottom: 55px; }

.mb-60 {
  margin-bottom: 60px; }

.mb-65 {
  margin-bottom: 65px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-75 {
  margin-bottom: 75px; }

.mb-80 {
  margin-bottom: 80px; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.mr-15 {
  margin-right: 15px; }

.mr-20 {
  margin-right: 20px; }

.mr-25 {
  margin-right: 25px; }

.mr-30 {
  margin-right: 30px; }

.mr-35 {
  margin-right: 35px; }

.mr-40 {
  margin-right: 40px; }

.mr-45 {
  margin-right: 45px; }

.mr-50 {
  margin-right: 50px; }

.mr-55 {
  margin-right: 55px; }

.mr-60 {
  margin-right: 60px; }

.mr-65 {
  margin-right: 65px; }

.mr-70 {
  margin-right: 70px; }

.mr-75 {
  margin-right: 75px; }

.mr-80 {
  margin-right: 80px; }

.mt-5 {
  margin-top: 5px; }

.mt-10 {
  margin-top: 10px; }

.mt-15 {
  margin-top: 15px; }

.mt-20 {
  margin-top: 20px; }

.mt-25 {
  margin-top: 25px; }

.mt-30 {
  margin-top: 30px; }

.mt-35 {
  margin-top: 35px; }

.mt-40 {
  margin-top: 40px; }

.mt-45 {
  margin-top: 45px; }

.mt-50 {
  margin-top: 50px; }

.mt-55 {
  margin-top: 55px; }

.mt-60 {
  margin-top: 60px; }

.mt-65 {
  margin-top: 65px; }

.mt-70 {
  margin-top: 70px; }

.mt-75 {
  margin-top: 75px; }

.mt-80 {
  margin-top: 80px; }

.pb-5 {
  padding-bottom: 5px; }

.pb-10 {
  padding-bottom: 10px; }

.pb-15 {
  padding-bottom: 15px; }

.pb-20 {
  padding-bottom: 20px; }

.pb-25 {
  padding-bottom: 25px; }

.pb-30 {
  padding-bottom: 30px; }

.pb-35 {
  padding-bottom: 35px; }

.pb-40 {
  padding-bottom: 40px; }

.pb-45 {
  padding-bottom: 45px; }

.pb-50 {
  padding-bottom: 50px; }

.pb-55 {
  padding-bottom: 55px; }

.pb-60 {
  padding-bottom: 60px; }

.pb-65 {
  padding-bottom: 65px; }

.pb-70 {
  padding-bottom: 70px; }

.pb-75 {
  padding-bottom: 75px; }

.pb-80 {
  padding-bottom: 80px; }

.pt-5 {
  padding-top: 5px; }

.pt-10 {
  padding-top: 10px; }

.pt-15 {
  padding-top: 15px; }

.pt-20 {
  padding-top: 20px; }

.pt-25 {
  padding-top: 25px; }

.pt-30 {
  padding-top: 30px; }

.pt-35 {
  padding-top: 35px; }

.pt-40 {
  padding-top: 40px; }

.pt-45 {
  padding-top: 45px; }

.pt-50 {
  padding-top: 50px; }

.pt-55 {
  padding-top: 55px; }

.pt-60 {
  padding-top: 60px; }

.pt-65 {
  padding-top: 65px; }

.pt-70 {
  padding-top: 70px; }

.pt-75 {
  padding-top: 75px; }

.pt-80 {
  padding-top: 80px; }

/*===========================
=            Text           =
============================*/
.center-text {
  text-align: center; }

.center-flex {
  justify-content: center;
  align-items: center; }

.center-block {
  display: block;
  margin: 0 auto; }

.green {
  background: #3DD0AC; }

.dark-green {
  background: #30A689; }

.grey {
  background: #F6F6F6; }

.pastel-grey {
  background: #42484D; }

.fg-white {
  color: white; }

/*==================================
=            Layout            =
==================================*/
body {
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  color: grey;
  line-height: 23px;
  font-size: 16px;
  line-height: 1.6em;
  letter-spacing: 1px; }

.row-fluid {
  width: 100%; }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 996px; }

.flex_container {
  display: flex; }

.flex_column {
  flex-direction: column; }

.flex_center {
  justify-content: center;
  align-items: center; }

header {
  background: #3DD0AC;
  width: 100%;
  color: white;
  font-weight: normal;
  text-align: center; }
  header img {
    margin: 0 auto;
    padding: 0;
    display: block; }

.section {
  width: 100%;
  padding: 1em; }

.one_column {
  width: 25%; }

.two_column {
  width: 50%; }

.tree_column {
  width: 75%; }

.four_column {
  width: 100%; }

footer {
  height: 200px; }

/*===============================
=            Contact            =
===============================*/
.contact {
  position: absolute;
  top: 30px;
  width: 40%;
  color: white;
  font-size: 0.8em;
  line-height: 1.3em; }
  .contact .contact__title {
    font-weight: bold;
    font-size: 1.3em; }

.cv {
  display: flex; }
  .cv .cv__pdf {
    width: 30px; }
    .cv .cv__pdf img {
      width: 100%;
      height: auto; }
  .cv .cv__text a {
    padding-left: 1em;
    color: red; }
    .cv .cv__text a:visited {
      color: red; }

/*=============================
=            Lists            =
=============================*/
ul {
  padding-left: 20px; }

li {
  list-style-type: circle; }

/*================================
=            blognews            =
================================*/
.blognews {
  display: flex;
  margin-bottom: 2em; }
  .blognews .blognews__date {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    margin-right: 20px;
    width: 40px;
    color: white;
    font-weight: bold; }
    .blognews .blognews__date .blognews__date__day {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background: #3DD0AC; }
    .blognews .blognews__date .blognews__date__month {
      display: flex;
      background: #30A689;
      justify-content: center;
      align-items: center;
      font-size: 0.6em; }
  .blognews .blognews__content {
    width: 80%; }
    .blognews .blognews__content .blognews__content__title {
      margin-top: -5px;
      font-weight: 700; }
    .blognews .blognews__content .blognews__content__text {
      line-height: 1.4em; }

/*============================
=            TAGS            =
==============================*/
.tags {
  width: 100%;
  display: inline-block; }
  .tags .tag {
    display: inline-block;
    margin: 5px;
    background: #f2f2f3;
    color: #778187;
    padding: 5px 10px;
    box-shadow: inset 0 -2px rgba(255, 255, 255, 0.1), inset 0 -3px rgba(0, 0, 0, 0.1), 0 1px rgba(0, 0, 0, 0.05);
    font-size: 0.9em; }

/*===================================
=            Profile pic            =
===================================*/
.profile-pic__container {
  width: 120px;
  border-radius: 50%;
  border: 7px solid #3DD0AC;
  position: relative;
  top: -30px; }
  .profile-pic__container .profile-pic__img {
    width: 120px;
    border-radius: 50%; }

/*================================
=              Coding            =
================================*/
.coding {
  position: relative; }

.codingMobile {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 19%;
  left: 17%; }

.codingMobile div {
  font-family: monospace;
  font-weight: normal;
  position: static !important;
  font-size: 12px;
  line-height: 14px;
  text-align: left;
  color: #666; }

@keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }
@keyframes blink-caret {
  from {
    border-left: #666 solid 0.1em; }
  to {
    border-left: transparent solid 0.1em; } }
@keyframes blink-caret-perma {
  from, to {
    border-left: #666 solid 0.1em; }
  50% {
    border-left: transparent solid 0.1em; } }
@-webkit-keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }
@-webkit-keyframes blink-caret {
  from {
    border-left: #666 solid 0.1em; }
  to {
    border-left: transparent solid 0.1em; } }
@-webkit-keyframes blink-caret-perma {
  from, to {
    border-left: #666 solid 0.1em; }
  50% {
    border-left: transparent solid 0.1em; } }
@-moz-keyframes typing {
  from {
    width: 100%; }
  to {
    width: 0; } }
@-moz-keyframes blink-caret {
  from {
    border-left: #666 solid 0.1em; }
  to {
    border-left: transparent solid 0.1em; } }
@-moz-keyframes blink-caret-perma {
  from, to {
    border-left: #666 solid 0.1em; }
  50% {
    border-left: transparent solid 0.1em; } }
.codingDesktop div {
  font-family: monospace;
  font-weight: normal;
  position: absolute;
  left: 30%;
  font-size: 20px;
  color: #666; }

.codingDesktop div span {
  position: absolute;
  top: -2px;
  right: -1px;
  background: #FEFEFE;
  /* same as background */
  border-left: .1em #666 solid;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.line1 {
  top: 70px;
  left: 17%;
  color: #3a7dda; }

div.line2 {
  top: 100px;
  left: 17%;
  color: #3a7dda; }

div.line3 {
  top: 130px;
  left: 17%;
  color: #40dac5; }

div.line4 {
  top: 160px;
  left: 17%;
  color: #ffbc3e; }

div.line4 p {
  color: #666;
  display: inline-block; }

div.line1 span {
  animation: typing 2s steps(15, end), blink-caret 1s step-end;
  animation-fill-mode: forwards;
  -webkit-animation: typing 2s steps(15, end), blink-caret 1s step-end;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: typing 2s steps(15, end), blink-caret 1s step-end;
  -moz-animation-fill-mode: forwards; }

div.line2 span {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 1s steps(6, end), blink-caret 1s step-end;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  -webkit-animation: typing 1s steps(6, end), blink-caret 1s step-end;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: typing 1s steps(6, end), blink-caret 1s step-end;
  -moz-animation-delay: 2s;
  -moz-animation-fill-mode: forwards; }

div.line3 span {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 1s steps(7, end), blink-caret 1s step-end;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  -webkit-animation: typing 1s steps(7, end), blink-caret 1s step-end;
  -webkit-animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: typing 1s steps(7, end), blink-caret 1s step-end;
  -moz-animation-delay: 3s;
  -moz-animation-fill-mode: forwards; }

div.line4 span {
  width: 100%;
  border-left: .1em #FEFEFE solid;
  animation: typing 4.5s steps(30, end), blink-caret-perma 1s step-end infinite;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  -webkit-animation: typing 4.5s steps(30, end), blink-caret-perma 1s step-end infinite;
  -webkit-animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: typing 4.5s steps(30, end), blink-caret-perma 1s step-end infinite;
  -moz-animation-delay: 4s;
  -moz-animation-fill-mode: forwards; }

@media only screen and (max-width: 767px) {
  .codingDesktop {
    display: none;
    visibility: hidden; }

  .codingMobile {
    display: block;
    visibility: visible; }

  .scrollDown {
    display: none; } }
@media only screen and (max-width: 479px) {
  .codingMobile {
    top: 21%;
    left: 19%; }

  .codingMobile div {
    font-size: 9px !important;
    line-height: 10px; } }
/*===============================
=            Twitter            =
===============================*/
.twitter {
  position: relative;
  top: -15px;
  color: white;
  font-size: 3em; }

.green {
  background: #3DD0AC; }

.dark-green {
  background: #30A689; }

.grey {
  background: #F6F6F6; }

.pastel-grey {
  background: #42484D; }

.fg-white {
  color: white; }

.green {
  background: #3DD0AC; }

.dark-green {
  background: #30A689; }

.grey {
  background: #F6F6F6; }

.pastel-grey {
  background: #42484D; }

.fg-white {
  color: white; }

body {
  font-size: 18px;
  -webkit-font-smoothing: antialiased; }

h1 {
  color: #30A689;
  font-size: 3em;
  letter-spacing: 3px;
  line-height: 1em; }

h2 {
  color: #30A689;
  font-size: 1.8em; }

h3 {
  color: #30A689;
  font-size: 1.3em; }

.font-xsmall {
  font-size: 0.7em; }

a {
  color: #FEC23E;
  font-weight: bold; }

.skillbar {
  font-family: 'Open Sans', 'sans-serif';
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color; }

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px; }

.skillbar-bar {
  height: 35px;
  width: 0px;
  background: #6adcfa;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: #444;
  color: rgba(0, 0, 0, 0.4); }

/*======================================
=            Hire me button            =
======================================*/
.demo-pricing {
  min-width: 150px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 14px 26px;
  line-height: 100%;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  -ms-transition: background 0.1s ease-in-out;
  -o-transition: background 0.1s ease-in-out;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Helvetica Neue', Helvetica, sans-serif; }

.demo-pricing:active {
  padding-top: 15px;
  margin-bottom: -1px; }

.demo-pricing, .demo-pricing:hover, .demo-pricing:active {
  outline: 0 none;
  text-decoration: none;
  color: #fff; }

.demo-pricing-1 {
  background-color: #3fb8e8;
  box-shadow: 0px 3px 0px 0px #3293ba; }

.demo-pricing-1:hover {
  background-color: #1baae3; }

.demo-pricing-1:active {
  box-shadow: 0px 1px 0px 0px #3293ba; }

.green {
  background: #3DD0AC; }

.dark-green {
  background: #30A689; }

.grey {
  background: #F6F6F6; }

.pastel-grey {
  background: #42484D; }

.fg-white {
  color: white; }

/*=================================
=            Variables            =
=================================*/
/*==============================
=            Mixins            =
==============================*/
#timeline .timeline-item:after, #timeline .timeline-item:before {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

/*==============================
=            Layout            =
==============================*/
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.project-name {
  text-align: center;
  padding: 10px 0; }

#timeline {
  width: 90%;
  margin: 30px auto;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  #timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #30A689;
    left: 50%;
    top: 0;
    position: absolute; }
  #timeline:after {
    content: "";
    clear: both;
    display: table;
    width: 100%; }
  #timeline .timeline-item {
    margin-bottom: 50px;
    position: relative; }
    #timeline .timeline-item .timeline-icon {
      color: white;
      background: #30A689;
      width: 50px;
      height: 50px;
      position: absolute;
      top: 0;
      left: 50%;
      overflow: hidden;
      margin-left: -23px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      #timeline .timeline-item .timeline-icon img {
        position: relative;
        top: 14px;
        left: 14px; }
    #timeline .timeline-item .timeline-content {
      letter-spacing: 0px;
      width: 45%;
      background: #fff;
      padding: 20px;
      -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      #timeline .timeline-item .timeline-content h2 {
        font-size: 1em;
        padding: 15px;
        background: #30A689;
        color: #fff;
        margin: -20px -20px 0 -20px;
        font-weight: 700;
        -webkit-border-radius: 3px 3px 0 0;
        -moz-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
        border-radius: 3px 3px 0 0; }
      #timeline .timeline-item .timeline-content p {
        padding: 1em 1em 0em 1em; }
      #timeline .timeline-item .timeline-content:before {
        content: '';
        position: absolute;
        left: 45%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid #30A689; }
      #timeline .timeline-item .timeline-content.right {
        float: right; }
        #timeline .timeline-item .timeline-content.right:before {
          content: '';
          right: 45%;
          left: inherit;
          border-left: 0;
          border-right: 7px solid #30A689; }
      #timeline .timeline-item .timeline-content .timeline-work {
        font-weight: bold;
        padding: 0.8em 0em 0em 0em;
        color: #30A689; }
      #timeline .timeline-item .timeline-content .timeline-period {
        font-size: 0.8em; }

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0; }
    #timeline:before {
      left: 0; }
    #timeline .timeline-item .timeline-content {
      width: 90%;
      float: right; }
      #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #30A689; }
    #timeline .timeline-item .timeline-icon {
      left: 0; } }
/*==============================
=            Tablet            =
==============================*/
@media only screen and (max-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 752px; } }
/*==============================
=            Mobile            =
==============================*/
@media only screen and (max-width: 768px) {
  #new-opportunities .tree_column {
    width: 100%; }
  #new-opportunities .one_column {
    display: none; }

  .flex_container {
    flex-direction: column; }

  .container {
    margin-left: auto;
    margin-right: auto;
    width: 320px; }

  .two_column {
    width: 100%; }

  .contact {
    display: none; }

  #timeline {
    margin: 0px; }
    #timeline .timeline-icon {
      display: none; }
    #timeline .timeline-item .timeline-content {
      width: 100%;
      padding: 0px; }
      #timeline .timeline-item .timeline-content .timeline-work, #timeline .timeline-item .timeline-content .timeline-period {
        padding: 1em 1em 0em 1em; }
      #timeline .timeline-item .timeline-content h2 {
        margin: 0px; }
    #timeline:before {
      display: none;
      content: "";
      width: 3px;
      height: 100%;
      background: #30A689;
      left: 50%;
      top: 0;
      position: absolute; } }

/*# sourceMappingURL=style.css.map */
