.math {

  height: 200px;
  background-color: #00BCD4;

  &__header {
    margin: 0;
    text-align: center;
    color: white;
  }

}

.english {

  height: 200px;
  background-color: #E91E63;

  &__header {
    margin: 0;
    text-align: center;
    color: white;
  }

}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//-----------------------------------------------------------------
// Margin & padding
//-----------------------------------------------------------------

$spaceamounts: (5, 10, 15, 20, 25, 30);

@mixin generate-margin-bottom() {
  @each $space in $spaceamounts {
    .mb-#{$space} {
      margin-bottom: #{$space}px;
    }
  }
}
@mixin generate-margin-right() {
  @each $space in $spaceamounts {
    .mr-#{$space} {
      margin-right: #{$space}px;
    }
  }
}
@mixin generate-margin-top() {
  @each $space in $spaceamounts {
    .mt-#{$space} {
      margin-top: #{$space}px;
    }
  }
}
@mixin generate-padding-top() {
  @each $space in $spaceamounts {
    .pt-#{$space} {
      padding-top: #{$space}px;
    }
  }
}
@mixin generate-padding-bottom() {
  @each $space in $spaceamounts {
    .pb-#{$space} {
      padding-bottom: #{$space}px;
    }
  }
}

@include generate-margin-bottom();
@include generate-margin-right();
@include generate-margin-top();
@include generate-padding-bottom();
@include generate-padding-top();

//-----------------------------------------------------------------
// Border box
//-----------------------------------------------------------------

.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}