<template>

    <div>
        <md-input-container>
            <md-icon>
                mode_edit
                <md-tooltip>Názov sekcie</md-tooltip>
            </md-icon>
            <label>Názov sekcie</label>
            <md-input type="text" v-model="activeSection.name"></md-input>
        </md-input-container>

        <md-input-container>
            <md-icon>
                mode_edit
                <md-tooltip>Identifikátor</md-tooltip>
            </md-icon>
            <label>Identifikátor</label>
            <md-input type="text" v-model="activeSection.identifier"></md-input>
        </md-input-container>

        <md-input-container>
            <md-icon>
                videocam
                <md-tooltip>URL</md-tooltip>
            </md-icon>
            <label>URL</label>
            <md-input type="text" v-model="activeSection.url"></md-input>
        </md-input-container>

        <md-input-container>
            <md-icon>
                videocam
                <md-tooltip>Dĺžka videa</md-tooltip>
            </md-icon>
            <label>Dĺžka videa</label>
            <md-input type="text" v-model="activeSection.length"></md-input>
        </md-input-container>

        <!--Choose video dialog-->

        <ChooseVideoDialog></ChooseVideoDialog>
    </div>

</template>

<script type="text/babel">

    import { mapState } from 'vuex';
    import ChooseVideoDialog from '../Dialogs/ChooseVideoDialog.vue';

    export default {

        name: 'SectionVideo',

        methods: {

        },

        components: {
            ChooseVideoDialog
        },

        computed: {
            ...mapState([
                'activeCourse',
                'activeSection'
            ])
        }

    }

</script>
