<template>
    <md-card style="flex-grow: 1; flex-basis: 0;">

        <md-card-header>

            <md-card-header-text>
                <div class="md-title">Sekcie</div>
            </md-card-header-text>

        </md-card-header>

        <md-card-content>

            <div class="row">
                <div class="col-md-4">

                    <md-list class="md-double-line md-dense">

                        <md-list-item v-for="(section, index) in sections" href="#">
                            <md-icon class="md-primary">drag_handle</md-icon>
                            <a href="#" @click.prevent="loadSection(section)">{{section.name}}</a>
                        </md-list-item>

                    </md-list>

                </div>

                <div class="col-md-8">
                    <div :is="rightPane"></div>
                </div>

            </div>

        </md-card-content>
    </md-card>
</template>

<script type="text/babel">

    import {mapState} from 'vuex';
    import SectionVideo from './SectionVideo.vue';
    import SectionAudio from './SectionAudio.vue';
    import SectionContent from './SectionContent.vue';
    import SectionQuestionGroupList from './SectionQuestionGroupList.vue';
    import SectionCreate from './SectionCreate.vue';

    export default {

        name: 'SectionList',

        components: {
            SectionVideo,
            SectionAudio,
            SectionContent,
            SectionQuestionGroupList,
            SectionCreate
        },

        props: ['rightPane'],

        created: function () {
            this.init();
        },

        methods: {

            // Loads sections available in the lesson ..
            init() {
                this.$store.dispatch('loadSections', this.$route.params.lesson);
            },

            loadSection(section) {
                this.$router.push(
                    {
                        name: 'edit-section',
                        params: { 'section': section.identifier }
                    }
                );
            },

        },

        computed: {
            ...mapState([
                'sections'
            ])
        }

    }

</script>
