<template>

    <div>
        Create new section form
    </div>

</template>

<script type="text/babel">

    import {mapState} from 'vuex';
    import _ from 'lodash';

    export default {

        name: 'SectionCreate',

        methods: {

        },

        computed: {

        }

    }

</script>
