<template>

    <div>
        <md-input-container>
            <md-icon>
                mode_edit
                <md-tooltip>Typ sekcie</md-tooltip>
            </md-icon>
            <label>Typ sekcie</label>
            <md-input type="text" v-model="activeSection.morph_type"></md-input>
        </md-input-container>

        <md-input-container>
            <md-icon>
                mode_edit
                <md-tooltip>Názov sekcie</md-tooltip>
            </md-icon>
            <label>Názov sekcie</label>
            <md-input type="text" v-model="activeSection.name"></md-input>
        </md-input-container>

        <md-input-container>
            <md-icon>
                videocam
                <md-tooltip>URL</md-tooltip>
            </md-icon>
            <label>URL</label>
            <md-input type="text" v-model="activeSection.url"></md-input>
        </md-input-container>

    </div>

</template>

<script type="text/babel">

    import {mapState} from 'vuex';
    import _ from 'lodash';

    export default {

        name: 'SectionAudio',

        computed: {
            ...mapState([
                'activeSection'
            ])
        }

    }

</script>
