<template>

    <div>List of questions in the group: {{params}}</div>

    <!--<div v-for="question in group">-->

        <!--<router-link :to="{ name: 'question-group', params: { section: section.identifier }}">-->
            <!--<div class="md-list-text-container">-->
                <!--<span>{{ question.name }}</span>-->
            <!--</div>-->
        <!--</router-link>-->

    <!--</div>-->

</template>

<script type="text/babel">

    import {mapState} from 'vuex';
    import _ from 'lodash';

    export default {

        name: 'SectionQuestionGroupList',

        props: ['params'],

        methods: {


        },

        computed: {
            ...mapState([
                'activeSection'
            ])
        }

    }

</script>
