<template>
    <div class="header">
        <md-toolbar class="md-primary" style="min-width:100%">

            <!--Hamburger icon-->
            <md-button class="md-icon-button">
                <md-icon>menu</md-icon>
            </md-button>

        </md-toolbar>
    </div>
</template>
<style>
</style>
<script>

    import Breadcrumbs from './Common/Breadcrumbs.vue';

    export default {
        components: {
            Breadcrumbs
        }
    }

</script>
