<template>
    <div style="min-width: 100%;">

        <Profile></Profile>

        <div class="phone-viewport">
            <md-list>

                <md-list-item>
                    <md-icon>videogame_asset</md-icon>
                    <span>Lektor</span>

                    <md-list-expand>
                        <md-list>
                            <md-list-item class="md-inset"><router-link to="/lektor">Tvorba obsahu</router-link></md-list-item>
                        </md-list>
                    </md-list-expand>
                </md-list-item>

                <md-list-item>
                    <md-icon>shopping_basket</md-icon>
                    <span><a href="/administrator">Administrator</a></span>
                </md-list-item>

            </md-list>
        </div>

    </div>
</template>
<style>
</style>
<script>
    import Profile from './Common/Profile.vue';

    export default{
        components:{
            Profile
        }
    }
</script>
